page-item-detail {

  ion-toggle{
    color:#112233;
    $toggle-md-track-background-color-off:#ffccff;
    $toggle-md-active-color:#009999;
  }

  .done{
    color: #dbdbdb;
    text-decoration:line-through;
  }

  .not_done{
  }

}
