//page-home {
//
//  //
//  //.card-background-page {
//  //
//  //  ion-card {
//  //    img
//  //    {
//  //
//  //      width:485px;
//  //      height:200px;
//  //      opacity:1.0;
//  //      filter:alpha(opacity=40); /* 针对 IE8 以及更早的版本 */
//  //    }
//  //    img:hover
//  //    {
//  //
//  //      width:485px;
//  //      height:200px;
//  //      opacity:0.5;
//  //      filter:alpha(opacity=100); /* 针对 IE8 以及更早的版本 */
//  //    }
//  //
//  //
//  //  }
//  //
//  //
//  //}
//
//  ion-label{
//    padding:0px;
//    margin:0px;
//  }
//
//  ion-item   {
//    padding:0px;
//    margin:0px;
//
//  }
//
//
//
//  ion-item-sliding {
//    padding:0px;
//    margin:0px;
//
//  }
//
//  #inside{
//    padding:0px;
//    margin:0px;
//  }
//
//  .items-green{
//    background-color: #2ec95c;
//    padding:0px;
//    margin:0px;
//  }
//
//  .items-pink{
//    background-color: #ffccff;
//    padding:0px;
//    margin:0px;
//  }
//
//  .items-blue{
//    background-color: #007aff;
//    padding:0px;
//    margin:0px;
//  }
//
//
//  .todo-title {
//    color: color($colors, twitter);
//    background-color: #dbdbdb;
//    font-style: italic;
//    padding:0px;
//    margin:0px;
//  }
//;
//
//  .todo-titledone {
//    color: color($colors, danger);
//  }
//;
//
//  .todo-xxxx {
//    color: #4d4d4d;
//  }
//;
//
//
//  .remainDays {
//    float: right;
//    color: #f53d3d;
//    text-align: end;
//  }
//
//
//}


page-home {


  //h2{
  //  color:#2ec95c;
  //}

  .todo-title{
    color: color($colors,twitter);

    font-style: italic;
  };

  .todo-titledone{
    color: color($colors,danger);
  };

  .remainDays{
    float: right;
    color:#f53d3d;
    text-align: end;
  }


}
